<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lean56.oneumeng.autoupdate">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
            >

    </application>

</manifest>
